* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

.light {
    --bodycolor: #141725;
    /* --bodycolor: #23283e; */
    --blue: #90a0d9;
    --grey-white: #cdcdff;
    --white: white;
    --grey: #bdbddd;
    --skill-bg: #0f162e;
    --skill-shadow: 0px -10px 60px 10px rgb(88, 92, 143),
        0px 5px 14px 0px rgba(0, 0, 0, 0.18);
}

:root {
    /* --bodycolor: white; */
    --bodycolor: aliceblue;
    --blue: #2978b5;
    --grey-white: #444444;
    --white: rgb(48, 48, 48);
    --grey: #555555;
    --skill-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

img {
    width: 100%;
}

a {
    all: unset;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--bodycolor);
    color: var(--white);
    overflow-x: hidden;
}

.blue {
    color: var(--blue);
}

.white {
    color: var(--grey-white);
}

.grey {
    color: var(--grey);
}

#navbar {
    display: flex;
    padding: 40px 0px 20px 0px;
    /* width: 99%; */
    margin: auto;
    justify-content: space-between;
    background-color: var(--bodycolor);
    position: sticky;
    top: 0px;
    z-index: 1;
}

#navbar>div:nth-child(1) {
    cursor: pointer;
    transition: 0.5s;
    color: var(--blue);
    margin-left: 10vh;
}

#navbar>div:nth-child(1):hover .und {
    background-position: 220px 0;
}

.und {
    height: 4px;
    background: -webkit-linear-gradient(0deg, transparent 50%, var(--blue) 50%);
    background-size: 450px 60px;
    transition: 0.5s;
}

.und_small {
    height: 3px;
    background: -webkit-linear-gradient(0deg, transparent 50%, var(--blue) 50%);
    background-size: 450px 60px;
    transition: 0.5s;
}

.und:hover,
.und_small:hover,
#skhead:hover .und,
#exphead:hover .und,
#eduhead:hover .und,
#aboutone:hover .und {
    background-position: 220px 0;
}

#nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
}

.nav-link {
    color: var(--grey-white);
    font-size: 17px;
    transition: 0.3s;
    cursor: pointer;
    /* margin-right: 10vh; */
}

.nav-link:hover {
    color: var(--blue);
}

.nav-link:hover .und_small,
#topicon>a>div:hover .und_small {
    background-position: 220px 0;
}

#navbar>div:nth-child(2)>div:hover .und_small {
    background-position: 220px 0;
}

#sun {
    width: 30px;
    margin-left: 5px;
    margin-top: 3px;
}

#tog {
    display: flex;
    align-items: center;
}

/* ---------------------------------------------toggle--start-------------------------------------- */

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ------------------------------toggle-over------------------------------- */
/* ------------------------top----------------------- */

.large {
    font-size: 60px;
}

#home {
    transition: all 0.5s ease-in-out;
    width: 54%;
    margin: auto;
    text-align: center;
}

#home>p {
    color: var(--grey);
    font-size: 17px;
    font-weight: 550;
}

/* #top:hover{
    transform: translateX(80px);

}

.slide{
    opacity: 0;
} */

.autotype {
    color: var(--grey-white);
}

#topicon {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#topicon>a>div>img {
    padding: 5px;
    border: 2px solid var(--grey-white);
    border-radius: 50px;
}

#topicon>a>div>img:hover {
    border: 2px solid var(--blue);
}

#topicon img {
    width: 25px;
    border-radius: 50px;
    transition: 0.3s;
}

#topicon>a>div {
    transition: 0.3s;
    cursor: pointer;
}

#topicon>a>div:hover {
    transform: scale(1.1);
}

#about {
    width: 80%;
    margin: auto;
}

#aboutone {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 28.5vh;
    cursor: pointer;
}
#aboutone>div{
    display: flex;
}

#about img {
    display: flex;
    border-radius: 20px;
}

.home-img {
    padding: 10px;
    border-radius: 22px;
    border: 4px solid var(--blue);
    transition: 0.3s;
}

.home-img:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transform: scale(1.1);
}

.aboutdetail {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

#about>div>div:nth-child(1) {
    width: 25%;
}

#about>div>div:nth-child(2) {
    width: 65%;
}

.ul {
    margin-left: 20px;
}

#skills {
    width: 85%;
    margin: auto;
}

#skhead {
    width: 19vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    cursor: pointer;
}

.setrow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#skillset{
    width: 90%;
    margin: auto;
}
.setrow2 {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

.skills-card {
    color: black;
    height: 135px;
    width: 15%;
    background-color: whitesmoke;
    padding: 20px;
    margin: 0px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.25) inset,
        0px 2px 1px 1px rgba(255, 255, 255, 0.9) inset,
        0px -2px 1px 0px rgba(0, 0, 0, 0.25) inset;
}


.skills-card>img {
    width: 70%;
    margin: auto;
}

.skills-card:hover {
    transform: scale(1.1);
    background-color: rgb(188, 235, 253);

}

#exp,
#edu {
    width: 90%;
    margin: auto;
}

#exphead {
    width: 34.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    cursor: pointer;
}

#eduhead {
    width: 29vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    cursor: pointer;
}

#expicon,
#eduicon {
    display: flex;
    margin: auto;
    border: 4px solid var(--grey);
    width: 60px;
    border-radius: 50px;
    padding: 5px 7px;
}

#expicon>img,
#eduicon>img {
    margin-top: 0px;
    border-radius: 50%;
}

.expdetail>div,
.edudetail>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.line {
    height: 10vh;
    width: 4px;
    display: flex;
    margin: auto;
    background-color: var(--grey);
}

.expdetail h4,
.expdetail h3,
.edudetail h4,
.edudetail h3 {
    color: var(--grey-white);
}

.expdetail p,
.edudetail p {
    color: var(--grey);
    margin-top: 8px;
}

#code {
    width: 90%;
    margin: auto;
}

#codehead {
    width: 34.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    cursor: pointer;
}

#prohead {
    width: 26.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    cursor: pointer;
}

#codehead:hover .und,
#prohead:hover .und {
    background-position: 220px 0;
}

.react-activity-calendar {
    width: 80%;
    margin: auto;
}

.react-activity-calendar img {
    border-radius: 10px;
}

#projects {
    width: 80%;
    margin: auto;
}

.project-card {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 1px 3px 0px var(--blue),
        0px 1px 2px 0px rgba(0, 0, 0, 0.24);
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

.proimg {
    width: 60%;
    margin: 20px;
}

.proimg>img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    width: 30%;
}

.project-tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.project-tech-stack>div {
    width: 8%;
}


.btn {
    display: flex;
    justify-content: space-evenly;
}

.btn>a>div {
    border: 3px solid var(--grey);
    padding: 10px;
    cursor: pointer;
    background: -webkit-linear-gradient(0deg, transparent 50%, var(--blue) 50%);
    background-size: 450px 60px;
    transition: 0.5s;
}

.btn>a>div:hover {
    color: var(--bodycolor);
    background-position: 220px 0;
}

#contact {
    width: 85%;
    margin: auto;
}

#touchhead {
    width: 38.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
}

.tound {
    height: 4px;
    background: -webkit-linear-gradient(0deg, transparent 50%, var(--blue) 50%);
    background-size: 800px 60px;
    transition: 0.5s;
}

#touchhead:hover .tound,
.tound:hover {
    background-position: 280px 0;
}

#touchicon {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#touchicon>div {
    width: 5%;
    transition: 0.3s;
}

#touchicon>div:hover {
    transform: scale(1.2);
}

#touchicon>div>a>img {
    width: 100%;
    border-radius: 15px;
}

#touchicon>div>a>img:hover {
    box-shadow: 0px 0px 12px 0px var(--blue),
        0px 45px 26px 0px rgba(0, 0, 0, 0.14);
}

#bottom {
    width: 32%;
    display: flex;
    margin: auto;
    color: var(--grey-white);
}

#heart {
    width: 6%;
    display: flex;
    align-items: center;
    padding: 0px 5px;
}

#heart>img {
    width: 100%;
}

#github-streak-stats{
    display: block;
    width: 70%;
    margin: auto;
}

#github-top-langs,#github-stats-card{
    width: auto;
display:inline-block
}

#github-top-langs>img{
    width: 372px;
    /* height: 100px; */
}
#github-stats-card>img{
    width: 850px;
}